@charset "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;;
	height: 55px;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}
.ui-widget, ui-widget .ui-widget{
	font-size: 13px !important
}




.ui-toggleswitch .ui-toggleswitch-slider {

    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 30px;
    background-color: #72707080;

}

.ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {

    background-color: #e7a61a;
}

.ui-toggleswitch .ui-toggleswitch-slider::before {

    background-color: #ffffff;
    height: 1.250em;
    width: 1.250em;
    left: .25em;
    bottom: .25em;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;

}


.panelGridCenter {
    margin: 0 auto;
}


.imageCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	/* --- 	BORDER RADIUS ---- */
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	
	
	/* --- SHADOW --- */	
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

